@model IEnumerable<LMS.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

<h2>Admin Panel</h2>

<table class="table">
    <thead class="active">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().BorrowerName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().BorrowDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsAproved)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsReturned)</th>
            <th>Aprove</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BorrowerName</td>
                <td>@item.Title</td>
                <td>@item.Quantity</td>
                <td>@item.BorrowDate.ToShortDateString()</td>
                <td>@item.IsAproved</td>
                <td>@item.IsReturned</td>
                <td>
                    <form method="post" action="/Admin/Approve">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        @if (item.IsAproved == true)
                        {
                            <button type="submit" class="btn btn-sm btn-outline-secondary" disabled>Approve</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-sm btn-outline-success">Approve</button>
                        }

                    </form>
                </td>
                <td>
                    <form method="post" action="/Admin/Reject">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        @if (item.IsAproved == true)
                        {
                            <button type="submit" class="btn btn-sm btn-outline-secondary" disabled>Reject</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-sm btn-outline-danger">Reject</button>
                        }

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
