@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<LMS.Models.Borrow>


@{
    ViewData["Borrow"] = "Borrow";
}

<h3>List of Your Borrowed Books</h3>
<hr>

@if (SignInManager.IsSignedIn(User))
{
    <table class="table table-hover table-sm">
        <thead class="table-active">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.BorrowDate)</th>
                <th>@Html.DisplayNameFor(model => model.IsAproved)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(m => m.BorrowerName == User?.Identity.Name))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.BorrowDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAproved)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">403 Access Denied</h2>
    <h4 class="text-danger">You do not have permission to access this page</h4>
}
