@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@using System;
@using Microsoft.AspNetCore.Identity
@using System.IO
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<LMS.Models.Borrow>


@{
    ViewData["Borrow"] = "Borrow";

}

<h3>List of Your Borrowed Books</h3>
<hr>

@if (SignInManager.IsSignedIn(User))
{
    <table class="table table-hover table-sm">
        <thead class="table-active">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.BorrowDate)</th>
                <th>@Html.DisplayNameFor(model => model.IsAproved)</th>
                <th>Status</th>
                <th>OverDue Penalty</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(m => m.BorrowerName == User?.Identity.Name))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.BorrowDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAproved)</td>
                    @if (item.BorrowPeriod > 10 && item.IsAproved == true)
                    {
                        <td class="bg-danger">Overdue: @item.OverDuePeriod Days</td>
                        <td class="bg-danger">@item.OverDueCharges</td>
                    }
                    else if (item.BorrowPeriod <= 10 && item.IsAproved == true)
                    {
                        <td class="bg-success">@Math.Abs(item.OverDuePeriod) Days Remaining</td>
                        <td class="bg-success">Ksh00.00</td>
                    }
                    else
                    {
                        <td class="bg-warning">Not Aprroved</td>
                        <td class="bg-warning">Ksh00.00</td>
                    }

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-danger">403 Access Denied</h2>
    <h4 class="text-danger">You do not have permission to access this page</h4>
}
