@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<LMS.Models.Book>
@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>All Available Books</h1>
    <div class="d-flex justify-content-between align-items-center mb-2">
        @if (User?.Identity.Name == "omacherenox@gmail.com")
        {
            <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        }

        <form asp-controller="Books" asp-action="Index" class="d-flex">
            <input type="text" name="searchString" class="form-control border-1 border-secondary me-2"
                placeholder="Search" />
            <input type="submit" value="Search" class="btn btn-outline-secondary btn-sm" />
        </form>
    </div>


    <table class="table">
        <thead class="table-active">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Publisher)</th>
                <th>@Html.DisplayNameFor(model => model.PublishYear)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div id="book-@item.Id" data-title="@item.Title"></div>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                    <td>@Html.DisplayFor(modelItem => item.PublishYear)</td>
                    <td id="quantity-@item.Id">@Html.DisplayFor(modelItem => item.Quantity)</td>
                    @if (User?.Identity.Name == "omacherenox@gmail.com")
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            @if (item.Quantity > 0)
                            {
                                <button class="btn btn-outline-warning btn-sm"
                                    onclick="AddToCart('@item.Id', '@item.Title','@item.Quantity')">Add to
                                    Cart
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-secondary btn-sm" disabled
                                    onclick="AddToCart('@item.Id', '@item.Title')">Out of Stock</button>
                            }

                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <button class="btn btn-outline-warning btn-sm" onclick="AddToCart('@item.Id', '@item.Title')">Add to
                                Cart</button>
                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="Borrow" method="post">
        <input type="hidden" id="cart-data" name="cartData" />
        <div id="cart-container" style="display: none;" class="container mt-4">
            <h5>Cart</h5>
            <table class="table table-sm table-stripped" style="width: 40%;">
                <thead class="table table-info sticky-top">
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="cart-body">
                    <!-- Cart items will be added here -->
                </tbody>
            </table>
            <p style="width: 40%;">
                <button class="btn btn-danger btn-sm" onclick="ClearCart()">Clear Cart</button>
                <button class="btn btn-success btn-sm float-end" type="submit" onclick="submitCartData()">Submit</button>
            </p>
        </div>
    </form>



}

else
{
    <h5>Sign in or Create Account to View the Available Books</h5>
}