@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal;

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model IEnumerable<LMS.Models.Book>
@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>All Available Books</h1>
    @if (User?.Identity.Name == "omacherenox@gmail.com")
    {
        <p>
            <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
        </p>
    }
    <form asp-controller="Books" asp-action="Index">
        <p class="input-group">
            <input type="text" name="searchString" class="border-1 border-secondary"/>
        <input type="submit" value="Search" class="btn btn-outline-secondary btn-sm"/>
        </p>

    </form>

    <table class="table">
        <thead class="table-active">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Publisher)</th>
                <th>@Html.DisplayNameFor(model => model.PublishYear)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div id="book-@item.Id" data-title="@item.Title"></div>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishYear)</td>
                @if (User?.Identity.Name == "omacherenox@gmail.com")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <button class="btn btn-outline-warning btn-sm" onclick="AddToCart('@item.Id', '@item.Title')">Add to Cart</button>
                    </td>
                }
                else
                {
                    <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                }
            </tr>
        }
        </tbody>
    </table>
    
    <form asp-action="Borrow">
    <div id="cart-container" style="display: none;" class="container mt-4">
    <h5>Cart</h5>
    <table class="table table-sm table-stripped" style="width: 40%;">
        <thead class="table table-info sticky-top">
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="cart-body">
            <!-- Cart items will be added here -->
        </tbody>
    </table> 
    <p style="width: 40%;">
        <button class="btn btn-danger btn-sm" onclick="ClearCart()">Clear Cart</button>
        <button class="btn btn-success btn-sm float-end" type="submit">Submit</button>
    </p>
   </div>
    </form>


}

else
{
    <h5>Sign in or Create Account to View the Available Books</h5>
}

 